*{
    padding: 0;
    margin: 0;
}

/* paleta 
#142fb8 (azul oscuro)
#255bf4 (azul claro)
#e3475a (rojo)
*/

body {
    font-family: 'Geologica', sans-serif;
}

a {
    color: black;
    text-decoration: none;
}

header {
    display: flex;
    justify-content: center ;
    background-color: #142fb8;
}

.titulo {
    display: flex;
    margin-top: 35px;
    margin-bottom: 70px;
    margin-left: 80px;
    color: #142fb8;
}

.titulo .titulo-texto{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.titulo .titulo-texto h3{
    margin-left: 2px;
}

.banner img{ 
    width: 100%;

}

.ingresar {
    margin-bottom: 25px;
    margin-left: 20px;
    color: #142fb8;
}

.link-compreahora{
    display: flex;
    background-color: #142fb8;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 40px;
    margin: 50px 0;
}

.link-compreahora a {
    font-size: 20px;
    color: #ffffff;
}

.link-compreahora a:hover {
    opacity: 0.7;
}

.link-compreahora img {
    height: 25px;
    width: 25px;
}

.contacto {
    width: 50%;
    margin: auto;    
}

.contacto-texto h2 {
    color: #255bf4;
    margin: 15px 0;
}

.contacto-texto p {
    margin: 15px 0;
}

.wpp , .email {
    display: flex;
    color: #255bf4;
    align-items: center;
}

.wpp img {
    height: 35px;
    width: 35px;
    margin-right: 3px;
}

.email img {
    margin-right: 8px;
}

.footer {
    margin-top: 50px;
    width: 100%;
    height: 80px;
    background-color: #255bf4;
}

/* media celular*/

@media (max-width: 425px){

    header img {
        width: 100%;
        height: 187px;
    }

    .titulo {
        margin-left: 0;
        flex-direction: column-reverse;
        align-items: center;
        text-align: center;
        margin-bottom: 40px;
    }

    .logo-unilever {
        height: 80px;
        width: 110px;
    }

    .titulo .titulo-texto h3{
        margin-left: 0px;
        margin-bottom: 20px;
    }

    .banner img{
        height: 120px;
    }

    .link-compreahora{
        margin: 40px 0;
    }

    .contacto {
        width: 100%;
    }

    .contacto-texto h2{
        text-align: center;
    }

    .footer {
        margin-top: 40px;
        height: 60px;
    }
}